<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% block title %}#LateNightRandom{% endblock title %}</title>

  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script|Carter+One' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="./assets/css/opensign.css">
  <link rel="stylesheet" href="./assets/css/style.css">
</head>
<body>
  {% block flashMessages %}
    {% if flash %}
    <div class="flash-container">
      <div class="flash {{flash.type}}">{{flash.text}}</div>
    </div>
    {% endif %}
  {% endblock %}

  {% block content %}{% endblock %}

  {% block googleAnalytics %}{% endblock %}
</body>
</html>