{% extends './layout.html' %}

{% block title %}#LateNightRandom | Settings{% endblock title %}

{% block content %}
<div class="settings">
  <div class="row">
    <h1>Timezone</h1>
  </div>
  <div class="row">
    <h2>Set this and you're good to go!</h2>
  </div>
  <div class="row">
    <form action="./settings" method="post">
      <select class="form-control fullwidth" id="timezone" name="timezone">
        <option value="" selected>Select your timezone:</option>
        {% include "./partials/timezone-options.html" %}
      </select>
      <button class="fullwidth" type="submit">Save</button>
    </form>
  </div>
</div>
{% endblock content %}